<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraper 2</title>
</head>
<body>
    <h1>Search With Artist</h1>
    <form action="{{ url_for('SearchWithArtist') }}" method="post">
        <label for="artist">Enter Artist Name:</label>
        <input type="text" id="artist" name="artist" required>
        <button type="submit">Search</button>
    </form>

    <h2>Search Results</h2>
    <ul>
        {% for line in result_data %}
        <li>{{ line }}</li>
        {% endfor %}
    </ul>
</body>
</html>
